.btn-flat {
  color: #990021;
  padding: 8px 24px;
  border-radius: 4px;
  background: $white;
  transition: background 0.3s ease;
  opacity: 0.6;
  font-weight: bold;
  font-size: 20px;
}

.btn-flat:hover {
  opacity: 1;
  color: #990021;
}

.fa-trash-alt {
  &:hover {
    opacity: 0.6;
    color: white;
  }
}
