.navbar-pomtails {
  justify-content: space-between;
  background: white;
  color: white;
  padding: 25px;
  height: 70px;
}

.nav-item {
  color: $gray;
  text-decoration: none;
  font-family: $headers-font;
  font-size: 25px;

  &:hover {
    color: $gray;
    text-decoration: none;
    opacity: 0.7;
  }
}
